---
layout: main
---
<header class="content-header">
  <div class="container">
    <h1>
      {% case page.category %}
        {% when 'examples' or 'examples-main' %}
        <i class="fa fa-code"></i>
        {% when 'docs' %}
        <i class="fa fa-file-text-o"></i>
        {% else %}
        {% if page.icon %}
        <i class="fa {{page.icon}}"></i>
        {% endif %}
      {% endcase %}
      {{page.title}}
    </h1>
  </div>
</header>

<div class="container">
    <div class="pure-u-1-5">
      {% include toc.html %}
    </div>
      <article>
        {{content}}
      </article>
    {% if page.category == 'examples' %}
</div>
